<%- include("partials/header.ejs") %>

    <div class="container d-flex justify-content-center align-items-center vw-100 vh-100">
        <div class="card">
            <div class="emApi">
                <form action="/getsecret" method="post">

                    <!-- Api Input -->
                    <div class="input-wrapper">
                        <input class="input-box" id="apiKey" name="apiK" type="text" placeholder="Enter Api Key" autocomplete="off">
                        <span class="underline"></span>
                        <% if(locals.err && err.api){ %>
                            <span class="text-danger">
                                <%= err.api.msg %>
                              </span>
                        <% } %>
                    </div>


                    <!-- Radio input -->
                    <span class="emScoreText">Embarrassment Score</span>
                    <div class="radio-input">
                        <label>
                            <input value="1" name="emScore" id="value-1" type="radio" checked="">
                            <span>1</span>
                        </label>
                        <label>
                            <input value="2" name="emScore" id="value-2" type="radio">
                            <span>2</span>
                        </label>
                        <label>
                            <input value="3" name="emScore" id="value-3" type="radio">
                            <span>3</span>
                        </label>
                        <label>
                            <input value="4" name="emScore" id="value-4" type="radio">
                            <span>4</span>
                        </label>
                        <label>
                            <input value="5" name="emScore" id="value-5" type="radio">
                            <span>5</span>
                        </label>
                        <span class="selection"></span>
                    </div>

                    <button class="cta">
                        <span class="hover-underline-animation"> Get Secret </span>
                        <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10"
                            viewBox="0 0 46 16">
                            <path id="Path_10" data-name="Path 10"
                                d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                transform="translate(30)"></path>
                        </svg>
                    </button>
                </form>
            </div>

            <div class="innerCard">
                <div class="card1">
                        <% if(!locals.content){ %>
                            <p class="small">Please enter 'API KEY' and 'SCORE' to get secrets ☝️</p>
                            <% } else { %>
                                <p class="small"><%= content %></p>
                                <% } %>

                                                <div class="go-corner">
                                                </div>
                </div>
            </div>

        </div>
    </div>

    <%- include("partials/footer.ejs") %>