<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EndToEnd</title>
</head>
<body>
                <% if (locals.playersid || locals.players) { %>
                    <% playersid.forEach(pid => { %>
                        <p><%= pid %></p>
                    <% }); %>
                    <% players.forEach(player => { %>
                        <p><%= player %></p>
                    <% }); %>
                <% } %>

                <link action="/add" method="post">

                    <input type="text" name="name" id="name">
                    <input type="submit">
                </form>
                <form action="/next" method="post">
                    <input type="text" name="next" id="next">
                    <input type="submit" value="next">
                </form>

</body>
</html>