<%- include("partials/mainHeader.ejs") %>

<main class="form-signin w-100 m-auto d-flex justify-content-center login">
    <div class="container border main">
        welcome
    </div>
</main>

<%- include("partials/footer.ejs") %>
    
